body {
  background: linear-gradient(90deg, rgba(50,50,50,1) 0%, rgba(30,30,30,1) 50%, rgba(10,10,10,1) 100%);
  color: white;
  text-align: center;
  overflow: hidden;
  
}
.gameContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  
}
.rod {
  position: absolute;
  width: 300px;
  height: 25px;
  background: linear-gradient(90deg, rgba(255,200,200,1) 0%, rgba(180,220,250,1) 50%, rgba(230,190,250,1) 100%);
}
#rod1 {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#rod2 {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background: yellow;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: changeColor 0.6s infinite alternate;
}
@keyframes changeColor {
  0% { background-color: rgba(255,100,100,1); }
    16% { background-color: rgba(255,165,100,1); }
    33% { background-color: rgba(255,255,100,1); }
    50% { background-color: rgba(100,255,100,1); }
    66% { background-color: rgba(100,100,255,1); }
    83% { background-color: rgba(180,100,255,1); }
    100% { background-color: rgba(255,100,255,1); }
}

